/app/config/local/facebook.php

public/facebook.log
public/img/maps/*.png
public/js/otworlds.concat.js
public/js/otworlds.min.js
node_modules/

/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
